<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<style>
		* {
			margin: 0;
			padding: 0;
			outline: 0;
			box-sizing: border-box;
		}
		html,
		body {
			height: 100%;
		}
		body {
			font-family: Arial, Helvetica, sans-serif;
			background: #1C4061;
			color: #eee;
		}
		header {
			background: #0D2235;
			height: 100px;
			display: flex;
			justify-content: center;
		}
		header img {
			width: auto;
			max-width: 200px;
			height: auto;
			max-height: 100px;
		}
		main {
			min-height: 500px;
			display: flex;
			align-items: center;
			flex-direction: column;
			margin-top: 100px;
		}
		main p {
			font-size: 20px;
			margin-top: 10px;
		}
		main a {
			color: inherit;
		}
		footer {
			height: 200px;
			background: #0D2235;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	</style>

	<title>Resetar a senha</title>
</head>

<body>
	<header>
		<a href="{{ website_url }}" target="_blank" rel="noopener noreferrer">
			<img src="http://qnimate.com/wp-content/uploads/2014/03/images2.jpg" alt="logo" />
		</a>
	</header>
	<main>

		<h2>Olá, {{ name }}</h2>
		<p>Clique <a href='{{ reset_url }}' target="_blank" rel="noopener noreferrer">aqui</a> para trocar a senha.</p>

	</main>

	<footer>
		<p>Contruido por Bruno Zutim</p>
	</footer>
</body>

</html>
